extends layout

block content
  each subscription in subscriptions
    - var feed = subscription.feed
    h2
      a(href='/subscriptions/' + subscription.id) #{feed.title}
    p #{feed.description}
    ul
      each entry in feed.entries
        li
          h3 #{entry.title}
          p #{entry.description}
